header {
  background-color: $header-color;
  width: 100%;
  text-align: center;

  h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 52px;
    line-height: 74px;
    color: $header-font-color;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(145, 145, 145, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(145, 145, 145, 1);
    box-shadow: 0px 5px 5px 0px rgba(145, 145, 145, 1);
  }
}