/* Muted Tones */
$background-color: #233237;
$font-color-light: #FFF;
$font-color-dark: #373737;
$font-color-error: #880000;
$headline-color: #C0B283;
$link-color: #444;
$link-background-color: #EEE;
$link-important-background-color: #984B43;
$menu-background-color: #FFF;
$admin-menu-background-color: #E37222;
$item-background-color: #FFF;
$header-color: #FFF;
$header-font-color: #444;
$footer-color: #FFF;
$selection-color: #984B43;


/* Modern and Clean
$background-color: #F4F4F4;
$font-color-light: #FFF;
$font-color-dark: #373737;
$font-color-error: #E37222;
$headline-color: #E37222;
$link-color: #FFF;
$link-background-color: #BBB;
$link-important-background-color: #E37222;
$menu-background-color: #E37222;
$admin-menu-background-color: #FFF;
$item-background-color: #66B9BF;
$header-color: #66B9BF;
$header-font-color: #FFF;
$footer-color: #E37222;
*/