{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Folgende Benutzer haben sich vom Basar abgemeldet</h2>

    <div class="participant-overview">
        {% for participant in wipeUsers %}
            <div class="participant">
                <h3>{{ participant.firstname }} {{ participant.lastname }}</h3>
                <div class="personal-data">
                    <p><strong>E-Mail:</strong> {{ participant.email }}</p>
                    <p class="{% if participant.mobilenumber == null %}error{% endif %}"><strong>Mobilenummer:</strong> {{ participant.mobilenumber }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}