<html>
    <body>
        <p>
            Sehr geehrte Damen und Herren,
            <br /><br/>
            Sie können Sie sich mit den folgenden Daten anmelden:
            <br /><br/>
            Benutzername: {{ user.email }} <br />
            Ihr Passwort: {{ password }}
            <br /><br/>
            Mit freundlichen Grüßen
            <br /><br/>
            Ihr Basar Team
        </p>
    </body>
</html>